<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading block__heading">Products</h2>
        <i class="icon icon--primary collapsible__chevron"
          ><img class="icon icon--primary" src="ic/chevron.svg" alt="" />
        </i>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated WordPress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading block__heading">company</h2>

        <i class="icon icon--primary collapsible__chevron"
          ><img class="icon icon--primary" src="ic/chevron.svg" alt="" />
        </i>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">about</a></li>
          <li><a href="#">Affiliation</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading block__heading">support</h2>

        <i class="icon icon--primary collapsible__chevron"
          ><img class="icon icon--primary" src="ic/chevron.svg" alt="" />
        </i>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header footer__heading">
        <h2 class="collapsible__heading block__heading">domains</h2>

        <i class="icon icon--primary collapsible__chevron"
          ><img class="icon icon--primary" src="ic/chevron.svg" alt="" />
        </i>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Domain checkers</a></li>
          <li><a href="#">Domain Tranfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="ic/logo.svg" alt="" />
      <p class="footer__copyright">copyright @2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
