<section class="block block--dark block--skewed-left hero showcase__container">
    <h2 class="showcase__heading">User-Friendly Control Panel</h1>
    <div class="container grid grid--1x2">
      <picture class="showcase__image">
        <source
          type="image/webp"
          srcset="
            images/resized/ipad1x.webp  1x,
            images/resized/ipad@2x.webp 2x
          "
        />
        <img src="images/ipad.png" alt="ipad" />
      </picture>
      <article class="showcase__content">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="ic/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam dolorum aspernatur officia vitae id libero maxime
              obcaecati eaque illo sint.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="ic/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam dolorum aspernatur officia vitae id libero maxime
              obcaecati eaque illo sint.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="ic/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Quibusdam dolorum aspernatur officia vitae id libero maxime
              obcaecati eaque illo sint.
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>